body {
  margin: 0;
  font-family: "Forum", cursive;
}
section {
  background-color: white;
}

.hero {
  background-color: #f4f0e8;
  height: 100vh;
  color: #12255f;
  font-size: 40px;
}

footer {
  height: 500px;
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 20px;
}

li {
  text-decoration: none;
}

li:hover {
  color: #fe9b7c;
}

h1 {
  font-size: 99px;
  margin: 0;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-top: 100px;
}

h2 {
  font-size: 60px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  color: #12255f;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #12255f;
}

p {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  font-family: "Work Sans", sans-serif;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.button {
  width: 200px;
  height: 50px;
  background-color: #fe9b7c;
  border-radius: 25px;
  text-align: center;
  padding-top: 15px;
  margin-top: 20px;
  font-weight: 300;
  font-family: "Work Sans", sans-serif;
  font-size: 30px;
}

.button:hover {
  background-color: #ffcf7b;
}

.button:active {
  background-color: #fc6a6d;
  color: #ffffff;
}

.socials {
  padding-bottom: 200px;
  margin: 20px;
  font-size: 60px;
  display: flex;
  flex-direction: column;
}

.socials a {
  color: #12255f;
}

.socials a:hover {
  color: #fe9b7c;
}

.logo {
  height: 60px;
  margin: 20px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.headshot {
  width: 250px;
  border-radius: 500px;
}
.headshot-container {
  display: flex;
  align-items: flex-start;
  margin-left: 80px;
}

.information p,
.journey p {
  font-family: "Lora", serif;
  font-size: 20px;
  max-width: 80%;
}

.lol {
  display: flex;
}

.project-card {
  width: 350px;
  height: 400px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

.subsection-alt h2 {
  display: flex;
  justify-content: center;
  color: #12255f;
}

.subsection-alt {
  padding: 40px;
}

.subtext {
  font-size: 16px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.project-image {
  margin-top: 25px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}
