body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

section {
  background-color: white;
}

.hero {
  background-color: #f4f0e8;
  height: 100vh;
  color: #12255f;
  font-size: 40px;
}

footer {
  padding: 80px;
  background-color: #f4f0e8;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
}

ul {
  display: flex;
  list-style-type: none;
  width: 450px;
  justify-content: space-around;
  font-size: 20px;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #12255f;
  transition: color 0.2s ease-in-out 0s;
}

a:hover {
  color: #fe9b7c;
}

h1 {
  font-size: 99px;
  margin: 0;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-top: 100px;
}

h2 {
  font-size: 60px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  color: #12255f;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #12255f;
}

p {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  max-width: 100%;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.button {
  width: 200px;
  height: 50px;
  background-color: #fe9b7c;
  border-radius: 25px;
  text-align: center;
  padding-top: 15px;
  margin-top: 20px;
  font-weight: 300;
  font-family: Poppin, sans-serif;
  font-size: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: background-color 0.2s ease-in-out 0s;
}

.button:hover {
  background-color: #ffcf7b;
}

.button:active {
  background-color: #fc6a6d;
  color: #ffffff;
}

.socials {
  padding-bottom: 200px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.socials a {
  color: #12255f;
}

.socials a:hover {
  color: #fe9b7c;
}

.logo {
  height: 60px;
  margin: 20px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.headshot {
  width: 250px;
  border-radius: 500px;
}
.headshot-container {
  display: flex;
  align-items: flex-start;
  margin-left: 80px;
}

@media only screen and (max-width: 1000px) {
  .socials {
    margin: 0;
    padding: 0;
  }
  .headshot-container {
    margin-left: 0px;
    display: block !important;
  }
  .lol {
    display: block;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .sub-section {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .information p {
    max-width: 100% !important;
    margin: 20px;
  }

  section {
    max-width: 100%;
  }
}

.information p,
.journey p .subsection-fac p {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  max-width: 70%;
}

.lol {
  display: flex;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-card {
  width: 350px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

.subsection-alt h2 {
  display: flex;
  justify-content: center;
  color: #12255f;
}

.journey h2 {
  justify-content: left;
}

.subsection-fac {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px auto;
}

.fac-h2 {
  display: flex;
  justify-content: left;
}

.subsection-alt {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px auto;
}

.subtext {
  font-size: 16px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.project-image {
  margin-top: 25px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-text {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.project-text a {
  color: #12255f;
  font-weight: bold;
}

.project-text a:hover {
  color: #ef744b;
  font-weight: bold;
}

.project-card a {
  text-decoration: none;
  color: #ef744b;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }
  ul {
    display: none;
    background-color: #203e9a;
    margin: 0px;
  }

  ul.show {
    display: block;
    width: 100px;
  }

  nav {
    display: flex;
    flex-direction: row-reverse;
    background-color: #203e9a;
  }

  nav a {
    color: #f4f0e8;
    display: flex;
  }

  .logo {
    display: none;
  }
}

#dogHug {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  height: 250px;
  width: 250px;
  border: solid 1px white;
  background: transparent url("images/pinkhug.jpg") center top no-repeat;
  text-align: center;
  background-size: 100%;
  position: relative;
  transition: background-image 0.2s ease-out 0s;
}
#dogHug:hover {
  background-image: url("images/happygolden.gif");
  background-size: 135%;
}

.gradient-text {
  display: block;
  font-family: Poppins, sans-serif;
  font-size: 60px;
  font-weight: 700;
  padding: 20px auto;
  text-align: center;
  margin: 20px auto;
  line-height: normal;
  -webkit-background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
}

#breedText {
  padding: 1px 20px;
  color: black;
  line-height: 25px;
  font-size: 25px;
  text-align: center;
}

#quizHeader {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  display: block !important;
  font-size: 30px;
}

#quizButton {
  font-family: monospace;
  background-color: #12255f;
  color: white;
  padding: 20px;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 20px;
  display: block;
  text-align: center;
  margin: auto;
  box-shadow: 2px 10px 20px rgba(153, 153, 153, 0.2);

  transition: background-color 0.2s ease-in-out 0s;
}
#quizButton:hover {
  background-color: #ef744b;
  color: black;
}
#quizButton.hide {
  display: none;
}
.quiz-container p {
  max-width: 100% !important;
  margin: 0;
}

form {
  display: none;
  text-align: center;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  max-width: 400px;
  margin: 0px auto;
  padding: 30px 30px;
}

form.show {
  display: block;
}

input:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}

label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #9f9f9f;
  box-sizing: border-box;
}

span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}

span:hover {
  background-color: rgba(159, 159, 159, 0.1);
}

.inputStyle {
  position: absolute;
  left: -99999px;
}

label input:checked + span:before {
  background-color: #d6d6e5;
  box-shadow: inset 0 0 0 0.4375em #00005c;
}

.question {
  font-weight: 700;
}

::placeholder {
  text-align: center;
  font-family: Poppins, "sans serif";
}

label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}

input[type="text"] {
  padding: 0.575em 0.85em;
  border-radius: 99em;
  text-align: center;
  margin: 0;
  display: flex;
}

input[type="submit"] {
  padding: 1em 2em 1em 2em;
  border-radius: 99em;
  border: none;
  font-family: Poppins, "sans serif";
  font-weight: 700;
  font-size: 1em;
  color: #12255f;
  background-color: #f4f0e8;
  transition: all 0.3s ease 0s;
  margin-top: 3px;
}

input[type="submit"]:hover {
  background-color: #203e9a;
  box-shadow: 0px 4px 12px rgba(46, 86, 229, 0.4);
  color: #fff;
  transform: translateY(3px);
}

footer p {
  max-width: 100% !important;
}

.credit {
  font-size: 1rem;
  text-align: center;
  color: #203e9a;
  margin-top: 30px;
  font-family: monospace;
}
/* carousel css*/

.carousel {
  margin: 0;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f0e8;
}

.slider {
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  width: 800px;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
  object-fit: cover;
}

/* css for manual slide navigation*/
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #f4f0e8;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #f4f0e8;
}

#radio1:checked ~ .first-slide {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/*CSS for automatic navigation*/
.navigation-auto {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 460px;
  width: 800px;
}

.navigation-auto div {
  border: 2px solid #f4f0e8;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
/* The :not() selector excludes the element passed to it from selection. The :last-child selector selects the last child. Combining these two above selector to excludes the last children (inner-div) of the parent div from the selection.*/
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #f4f0e8;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #f4f0e8;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #f4f0e8;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #f4f0e8;
}
/*Making carousel responsive*/
@media only screen and (max-width: 1000px) {
  .slider,
  .slides,
  .slide img,
  .navigation-manual,
  .navigation-auto {
    width: 450px;
  }
  .slide {
    width: 100%;
  }

  .slide img {
    object-fit: cover;
  }
  #radio2:checked ~ .first {
    margin-left: -100%;
  }

  #radio3:checked ~ .first {
    margin-left: -200%;
  }

  #radio4:checked ~ .first {
    margin-left: -300%;
  }
}

@media only screen and (max-width: 450px) {
  .slider,
  .slides,
  .slide img,
  .navigation-manual,
  .navigation-auto {
    width: 370px;
  }
  .slide {
    width: 100%;
  }

  .slide img {
    object-fit: cover;
  }
  #radio2:checked ~ .first {
    margin-left: -100%;
  }

  #radio3:checked ~ .first {
    margin-left: -200%;
  }

  #radio4:checked ~ .first {
    margin-left: -300%;
  }
}
